$primary-color: #eb6b17;
$secondary-color: #8f18c4;
$light: #ff7900;
$text-color: #b611a7;
$header-color: #050505;
%inner-row {
    max-width: 1120px;
    width: 100%;
    padding: 0.4rem 0.6rem;
    margin: 0 auto;
}
